# Add Environment Variables

#########################################################################################################
#                        WARNING: This three variables should be changed                                #
# This password is the one configured inside the init.sql                                               #
DB_PASS="secretPassword"                                                                                #
# This salt will be used to encrypt password, it needs to be a fixed value                              #
DB_SALT="eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"            #
# This is the secret key used for signing cookies, it should be randomized before going to production   #
# Leaving it blank will generate a random one at startup, this migh lead to browser cache issues        #
SECRET_KEY=""                                                                                           #
#                                  END OF WARNING                                                       #
#########################################################################################################


# this config is for the database
DB_SERVICE="postgresql"              # the default service as currently implemented would only be postgresql (other value would be sqlite)
DB_HOST="stacctusDB"                 # change the host to your own if not using docker
DB_PORT="5432"                       # change the port to the one used if not using docker
DB_NAME="stacctus"                   # this database was defined in init.sql and need to be created before hand
DB_USER="stacctus"                   # this user is the default user of the database and is not a superuser, it is defined in init.sql
DB_PATH=""                           # to set if using sqlite
DB_RELA="False"                      # to set if using sqlite


# this is the variables for the application
FLASK_ENV="development"              # FLASK_ENV = 'production'
DEBUG="true"                         # DEBUG="false"
TESTING="true"                       # TESTING="false"
COMPRESSOR_DEBUG="true"              # COMPRESSOR_DEBUG="false"
ASSETS_DEBUG="true"                  # ASSETS_DEBUG="false"
#LESS_RUN_IN_DEBUG="true"            # LESS_RUN_IN_DEBUG="false"
# you need to install lessc with:  npm install less -g
#LESS_BIN="/usr/bin/lessc"

